@model ConvertMarkdown.Web.Models.Markdown
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Markdown Converter</h1>
    <form asp-action="RenderResult" method="post">
        <textarea asp-for="MarkdownText"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>