body {
    margin: 0;
}
.center {
    width: 100%;
    height: 100%;
    margin: auto;
}

.text-area {
    width: 100vw;
    height: 80vh;
}

.submit-button{
    width: 100vw;
    height: 25px;
}

.markdown {
    width: 100vw;
    height: 99vh;
    max-width: 1000px;
    max-height: 100%;
    padding: 50px;
    border: 1px solid black;
    overflow-y: scroll;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    color: #24292e;
}

.markdown h1 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight:500;
    border-bottom: 1px solid lightgray;
}

.markdown h2 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
}

.markdown h3 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}

.markdown h4 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}

.markdown h5 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}

.markdown h6 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}

.markdown a {
    text-decoration-line: none;
    color: #1888e2;
}

.markdown ul {
    margin: 0px;
}

.markdown ol {
    margin: 0px;
}

.markdown li+li {
    margin-top: .25em;
}